.modal {
  background-color: #dcdddf;
  border: 1px solid #AAA;
  border-radius: 5px;

  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  min-width: 30%;
  max-width: 75%;
  max-height: 100%;
  z-index: 10;
  padding: 10px;
}